*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


a
{
	text-decoration: none;
}

img
{
	cursor: pointer;
}

li
{
	list-style-type: none;
}

/*********************************Code For Header*************************/


.main-header
{
	border: 0px solid red;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	z-index: 1;
}


.header
{
	border: 0px solid red;
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background: white;
	
}
.header .content
{
	border: 0px solid;
	width: 200px;
	#height: 105%;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	padding: 5px 10px;
}

.header .social img
{
	margin: 0 10px;
}


.navigation
{
	border: 0px solid;
	width: 100%;
	height: 50px;
	background: black;
	
}

.navigation .content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation .content ul
{
	display: inline-flex;
	padding: 15px 20px;
	margin: 0 70px;
	list-style-type: none;
}
.navigation .content ul li
{
	padding: 0 20px;
}
.navigation .content ul li a
{
	color: white;
	text-transform: uppercase;
	font-size: 15px;
}

.navigation .content ul li a:hover
{
	color: orangered;
}


.navigation .content img
{
	position: fixed;
	right: 25%;
}

.login
{
	border: 0px solid;
	width: 500px;
	height: 370px;
	position: fixed;
	top: -120%;
	left: 30%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	transition: 0.5s ease;
	z-index: 2;
}

.login .content
{
	border: 0px solid red;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.login .content input[type="text"], input[type="password"]
{
	width: 100%;
	margin-top: 30px;
	outline: none;
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	background: #eee;
}

.login .content input[type="submit"]
{
	margin-top: 30px;
	border: none;
	width: 100%;
	height: 30px;
	cursor: pointer;
	color: white;
	background: orangered;
	border-radius: 5px;
}

.login.active
{
	border: 0px solid;
	width: 500px;
	height: 370px;
	position: fixed;
	top: 10px;
	left: 30%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	transition: 0.5s ease;
}


/*********************************Code For Header*************************/


.banner
{
	border: 0px solid red;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background: url("..//images/car home1.png");
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
}

.banner .content
{
	border: 0px solid white;
	width: 20rem;
	height: fit-content;
	position: absolute;
	top: 40%;
	right: 100px;
	color: white;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
}


.main-container
{
	position: absolute;
	top: 100%;
	width: fit-content;
	height: fit-content;
}

.cars
{
	border: 0px solid red;
	width: 100%;
	height: auto;
	padding: 20px;
	
}


.cars .heading
{
	border: 0px solid red;
	width: 100%;
	height: auto;
	display: inline-block;
	font-family: sans-serif;
}

.cars .container
{
	border: 0px solid orange;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	grid-template-rows: repeat(auto-fit, minmax(30px,1fr));
	row-gap: 50px;
	margin-top: 50px;
}

.cars .container .content
{
	border: 0px solid red;
	width: 350px;
	height: 350px;
	margin-left: 50px;
	box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.5);
}

.cars .container .content .data
{
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}

.cars .container .content img:hover
{
	transition: 1s;	
}

.cars .container .content img:hover
{
	transform: scale(1.1);
}

/*********************************Code For Footer*************************/

.footer
{
	border: 0px solid red;
	width: 100%;
	height: 700px;
	display: flex;
	background: url("..//images/highway.png") no-repeat rgba(0, 0, 0, 0.5);
	background-position: center;
	background-size: cover;
	background-blend-mode: darken;
}

.footer .content
{
	border: 0px solid red;
	width: 100%;
	height: 100%;
	display: block;
}

.footer .content .experience
{
	border: 0px solid;
	width: 95%;
	height: 150px;
	margin-top: 40px;
	margin-left: 2%;
	display: flex;
	justify-content: space-around;
}
.footer .content .experience .box
{
	border: 0px solid green;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: orangered;
	color: white;
}

.footer .content .experience .box span
{
	position: relative;
	left: 33%;
	top: 20px;
}

.footer .content .experience .box span h3
{
	font-size: 25px;
}

.footer .content .experience .box span p
{
	font-size: 12px;
	position: relative;
	right: 20px;
	top: -10px;
}

.footer .content .contact
{
	border: 0px solid rebeccapurple;
	width: 100%;
	height: 400px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 2px 1px 3px 1px rgba(255, 255, 255, 0.4);
	margin-top: 100px;
}

.footer .content .contact .box
{
	border: 0px solid green;
	width: 300px;
	height: 300px;
	color: white;
	text-align: center;
	box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.3);
}

.footer .content .contact .box img
{
	position: relative;
	top: 35px;
	left: -30%;
}

.footer .content .contact .box ul li
{
	transition: transform 1s;
}

.footer .content .contact .box ul li a
{
	color: white;
}

.footer .content .contact .box ul li:hover
{
	transition: transform 1s;
	cursor: pointer;
	transform: scale(1.1);
}

.footer .content .contact .map-image
{
	transition: transform 1s;
}

.footer .content .contact .map-image:hover
{
	transform: scale(1.1);
}

.footer .content .contact .feedback input,textarea
{
	margin: 10px 0;
	width: 200px;
	outline: none;
	padding: 5px;
	font-size: 15px;
	background: transparent;
	color: white;
	border: none;
	box-shadow: 1px 1px 2px 0.5px rgba(255, 255, 255, 0.4);
}
.footer .content .contact .feedback input[type="text"]::placeholder
{
	color: white;
}

.footer .content .contact .feedback textarea::placeholder
{
	color: white;
}

.footer .content .contact .feedback input[type="submit"]
{
	cursor: pointer;
	background: orangered;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.footer .content .contact .newsletter input
{
	margin: 10px 0;
	width: 200px;
	outline: none;
	padding: 5px;
	font-size: 15px;
	background: transparent;
	color: white;
	border: none;
	box-shadow: 1px 1px 2px 0.5px rgba(255, 255, 255, 0.4);
}
.footer .content .contact .newsletter input[type="text"]::placeholder
{
	color: white;
}

.footer .content .contact .newsletter input[type="submit"]
{
	cursor: pointer;
	background: lawngreen;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.footer .content .contact .newsletter img
{
	margin: 0 10px;
}

/*********************************Code For Footer*************************/
